<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jj.comics">

    <application>
        <activity
            android:name=".ui.recommend.RecommendLoadMoreActovity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />
        <activity
            android:name=".ui.detail.ComicDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.detail.BookInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.detail.comment.CommentListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.read.ReadComicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.notch_support"
                android:value="false" />
        </activity>
        <activity
            android:name=".ui.mine.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Full" />

        <activity
            android:name=".ui.mine.login.BindPhoneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.mine.pay.SubscribeActivity"
            android:theme="@style/Comic.NoTitleTranslucentTheme" />
        <activity
            android:name=".ui.list.RankActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.recommend.FreeListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.settings.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.pay.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.VIPActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.welfare.WelfareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.RewardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.settings.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name=".ui.web.WebActivity" />

        <activity android:name=".ui.web.WebViewActivity" />
        <activity
            android:name=".ui.search.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />
        <activity
            android:name=".ui.mine.MyFeedBackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />
        <activity
            android:name=".ui.mine.KefuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.userinfo.EditUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.mine.userinfo.CheckUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.settings.BindPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />
        <activity
            android:name=".ui.mine.settings.CouponCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.settings.UserAgreementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.recommend.RichManRankActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.history.HistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />
        <activity
            android:name=".ui.mine.userinfo.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.userinfo.EditNickNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />
        <activity
            android:name=".ui.mine.userinfo.EditSexActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.coin.MyCoinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.coin.RechargeRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.coin.ConsumeRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.coin.ConsumeDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />
        <activity
            android:name=".ui.sort.SortListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.rebate.MyRebateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.rebate.cashout.AddCashOutWayAliActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.rebate.cashout.AddCashOutWayUnionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.rebate.cashout.CashOutWayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
        android:name=".ui.mine.rebate.cashout.DoCashOutActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.rebate.cashout.CashOutResultActivitry"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />

        <activity
            android:name=".ui.mine.bought.BoughtActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Comic.AppTheme.Base" />
        <receiver android:name=".broadcast.NetWorkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.TimeChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.BatteryReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>

    </application>

</manifest>